<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static  %}
    <link rel="stylesheet" type="text/css" href="{% static  'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static  'css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static  'css/swiper.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static  'css/main.css' %}">
</head>
<body class="section blog">
<div class="top"  style="height:80px">
			<div class="top_nav">
				<a href="/index/" class="logo"><img src="{% static 'img/logo.png' %}" /></a>
				<div class="moment">
					<div class="bloom">
						<a href="/index/" class="female">Home</a>
						<a href="/Blog/">Bold</a>
						<a href="">Mainnet</a>
						<a href="">Community</a>
						<a href="">Download</a>

						<img src="{% static 'img/tls.png' %}" class="leamed" />
					</div>
<!--				</div>-->
				<img src="{% static 'img/tm.png' %}" class="flashed" />
				</div>
			</div>
</div>

<div class="wrapper section-single">
{% load static  %}

    {% for  blog  in  blogs %}
        <div class="translations">
        <em>This page is also available in other languages:</em>
        <ul>

            <li>
            中文  (zh-cn): <a href="../../zh-cn/blog/participate-in-our-trusted-setup-ceremony/">快来参与我们的可信设置环节</a>
            </li>

        </ul>
        </div>
        <div class="section-read-more">
            <a href="/Blog/">← Back to the index</a>
        </div>
        <div class="date">October 22, 2019</div>
        <h2 class="title">{{ blog.title }}</h2>
        <div class="cover-img">
        <img alt="{{ blog.title }}" src="/{{ blog.src }}">
        </div>
        <div class="content">
          <p>


          </p>
        {{ blog.content }}


        </div>

    {% endfor %}
        <div class="section-read-more">
            <a href="../../Blog/">← Back to the index</a>
        </div>

</div>
<div class="rushed">
			<div class="rushed_r cleverhd">
				<a href=""><img src="{% static 'img/bm2.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm3.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm4.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm5.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm6.png' %}" /></a>
			</div>
			<div class="rushed_l">
				<img src="{% static 'img/bm1.png' %}" />
				<span>Copyright© 2019_IPSS,All Rights Reserved.</span>
			</div>
			<div class="rushed_r">
				<a href=""><img src="{% static 'img/bm2.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm3.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm4.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm5.png' %}" /></a>
				<a href=""><img src="{% static 'img/bm6.png' %}" /></a>
			</div>
</div>


</body>
</html>